html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'NS&IFace';
  src: url("../fonts/NS&IFace.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'NS&IFaceBold';
  src: url("../fonts/NS&IFaceBold.woff") format("woff");
  font-weight: 700; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 480px;
  height: 320px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #797979;
  font-family: 'NS&IFaceBold', 'sans-serif';
  color: #fff;
  background: #ae123d;
  font-size: 34px;
  background-size: cover; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.copy {
  width: 100%;
  text-align: center; }

.returns {
  top: 151px;
  font-weight: bold;
  letter-spacing: 0.1px; }

#investLogo {
  width: 326px;
  height: 34px;
  left: 76px;
  bottom: 0px;
  padding: 12px 32px;
  font-size: 16px;
  background: #780424; }

#nsilogo {
  width: 104px;
  height: 85px;
  top: -1px;
  left: 187px;
  background: url("../img/nsilogo.png") no-repeat;
  background-size: 100%; }

#copy1 {
  top: 148px; }

#copy1Returns {
  top: 182px; }

#copy1Security {
  top: 182px;
  -webkit-transform: translateX(-480px);
  -ms-transform: translateX(-480px);
  transform: translateX(-480px); }

#copy2 {
  top: 130px;
  opacity: 0; }

#copy3 {
  top: 166px;
  opacity: 0; }

#cta {
  font-family: 'NS&IFace';
  top: 166px;
  left: -10px;
  opacity: 0; }

#arrow {
  font-family: 'NS&IFace';
  top: 169px;
  left: 98px;
  opacity: 0; }

#bgExit {
  width: 480px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0; }

@media only screen and (max-width: 320px) {
  #mainContent {
    width: 320px;
    height: 480px; }
  #investLogo {
    width: 236px;
    height: 43px;
    left: 42px;
    text-align: center;
    padding: 7px 32px; }
  #nsilogo {
    left: 107px; }
  #copy1 {
    top: 208px; }
  #copy1Returns, #copy1Security {
    top: 242px; }
  #copy2 {
    top: 190px;
    opacity: 0; }
  #copy3 {
    top: 226px; }
  #cta {
    top: 226px; }
  #arrow {
    top: 229px; } }
