//  Colours
$white: #fff;
$blue: #fff;
$lightColor: #ae123d;
$darkColor: #780424;
$gray: #797979;
//  Banner size
$width:  480px;
$height: 320px;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@font-face {
	font-family: 'NS&IFace';
	src:url('../fonts/NS&IFace.woff') format('woff'); 
	// font-style:   normal;
	font-weight:  400;
}


@font-face {
	font-family: 'NS&IFaceBold';
	src: url('../fonts/NS&IFaceBold.woff') format('woff');
	// font-style:   normal;
	font-weight:  700;
}

